<head></head>
<body>
<article id="content" class="page page--pages/pelicula-flex">
  <div class="sections pb-1 pb-sm-2 pb-lg-4">
    
          
  

  <script type="application/ld+json">{"@context":"https://schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"@id":"https://customic.com.br/","name":"Homepage"}},{"@type":"ListItem","position":2,"item":{"@id":"https://customic.com.br/pages/pelicula-flex","name":"Película Flex Customic "}}]}</script>


          
          
  <div class="page-title container mt-4 mb-4 mb-lg-5">
    <div class="page-title__head">
      
      <h1 class="my-0">
        Película Flex Customic 
      </h1>
    </div>
    
  </div>


          
          <div class="extra-page">
  
  <section class="md-content mb-5 pt-1 pt-sm-2 pt-lg-3">
    <div class="container">
      <div><br><style>@import url(https://fonts.googleapis.com/css?family=Roboto:400,700&amp;display=swap);.main{padding-bottom:0 !important;} .product-page-content{padding:0;margin:0}#myTabContent{background-color:white;padding:0;margin:0}.imgAuto{width:100%;height:auto}.txtAuto{padding:50px 0;text-align:center}.title{padding-bottom:30px;letter-spacing:3px;font-size:2em;font-weight:700;text-transform:uppercase;font-family:Roboto,sans-serif}.text{font-size:1.4em;font-family:Roboto,sans-serif;padding:0 200px}@media (max-width: 1068px){.text{padding:0 50px !important;}}@media (min-width: 1068px){.text{padding:0 500px}}@media (min-width: 768px){.title{font-size:2.5em}}@media (max-width:600px){.desktop{display:none}}@media (min-width:600px){.mobile{display:none}}.text{padding:0 250px}}</style><div><img class="imgAuto desktop" src="https://i.imgur.com/XbYcpto.png" alt="Película Self Applicator."></div><img class="imgAuto mobile" src="https://i.imgur.com/VFAFRBI.png" alt="Película Self Applicator."><div><img class="imgAuto desktop" src="https://i.imgur.com/Xt4XzV8.png" alt="Película Self Applicator."></div><img class="imgAuto mobile" src="https://i.imgur.com/xK7Ex7y.png" alt="Película Self Applicator."><div><div class="vsc-controller" data-vscid="dinl091ps"></div><img class="imgAuto desktop" src="https://i.imgur.com/jVRrwZf.png" alt="Película Self Applicator."></div><img class="imgAuto mobile" src="https://i.imgur.com/lHfYQOW.png" alt="Película Self Applicator." <div=""><img class="imgAuto desktop" src="https://i.imgur.com/CHbidl6.png" alt="Película Self Applicator."><img class="imgAuto mobile" src="https://i.imgur.com/a4QHHSf.png"><br><div><br></div><p><br></p><div><br></div><p><br></p>
    </div>
  </div></section>


</div>

          
  </div>
</article>
</body>
